body{
    background-image: linear-gradient(red,purple,blue);
    height: 800px;
    width: 100%;
}
.div1{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.mainphoto{
    width: 250px;
    height: 250px;
}
.text{
    margin-right: 210px;
    font-size: medium;
    text-align:justify;
    color: white;
    width: 490px;
}
.name{
    color: white;
}
.inalbm{
    justify-content: flex-start;
    margin-left: 220px;
}
.bros{
    justify-content: flex-end;
    margin-right: 345px;
    margin-left: 10px;
}
.div2{
    display: flex;
    justify-content: space-around;
}
.navbar{
    justify-content: flex-end;
}
.logor{
    justify-content: flex-start;
}
.home{
    margin: 4px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    border: transparent;
}
.othersong{
    margin: 4px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    border: transparent;
}
.fav{
    margin: 4px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    border: transparent;
}
.signup{
    margin: 4px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    border: transparent;
}
.signin{
    margin: 4px;
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    border: transparent;
}

.img1{
    height: 200px;
}
.img2{
    height: 200px;
}
.img3{
    height: 200px;
}
.img4{
    height: 200px;
}
.img5{
    height: 200px;
}

.common{
    margin-top: 100px;
    justify-content: space-evenly;
}
.hrr{
    color: white;
    text-align: center;
}
hr{
    background-color: white;
}

@media (min-width: 361px) and (max-width: 767px)

{
    body {
    background: red;
    }
    .div2{
        display: block;
        text-align: center;
    }
    .div1{
        display: block;
        text-align: center;
    }
    .inalbm{
        margin-left: 0px;
    }
    .text{
        width: 100%;
    }
    .bros{
        margin-left: 0px;
        margin-right: 0px;
    }
    .common{
        display: block !important;
    }
    .pair1{
        padding-left: 0px !important;
    }
    .pair5{
        padding-right: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 992px)
{
    body{
        background: blueviolet;
    }
    .div2{
        display: block;
        text-align: center;
    }
    .div1{
        display: block;
        text-align: center;
    }
    .inalbm{
        margin-left: 0px;
    }
    .text{
        width: 100%;
    }
    .bros{
        margin-left: 0px;
        margin-right: 0px;
    }
    .common{
        display: block !important;
    }
    .pair1{
        padding-left: 0px !important;
    }
    .pair5{
        padding-right: 0px !important;
    }
}